{#
 /**
 * @file
 * Default theme implementation to display a divided text.
 *
 * Available variables:
 * - summary: Truncated string.
 * - text: All text.
 */ 
#}
<div class="readmore-summary">
  {{ summary }}
</div>
<div class="readmore-text" style="display:none;">
  {{ text }}
</div>
